learning/__pycache__/squeeznet.cpython-35.pyc
learning/.ipynb_checkpoints/main-checkpoint.ipynb
learning/Squeezenet_loss.jpg
learning/train_val_accuracy.jpg
learning/result.csv
learning/tryAlexNet.pth